
.slideImg {
  margin: auto;
  height:27.33vh;
  width:100%;
  object-fit: cover;
  object-position: center;
}



@media only screen and (min-width: 480px) {
  .slideImg {
    height:40vw;
  }
}


.wave-container {
  position: relative;

  text-align: center;
  overflow: hidden;

  display: block;



}







ion-item {
  --background: rgba(248, 248, 250, .96);

  h2 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
  }

}

ion-content {
  --background: #f8f8fa;
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 10px;
  opacity: .96;
  padding: 0;
  margin: 12px 0;
  width: auto;
}

.more {
  font-size: 12px;
  color: #FB4E4E;
}

.title {
  font-size: 16px;
}

.card {
  margin: 0;
  margin-right: 50px;
  width: 80%;
  max-width: 450px;
  box-shadow: none;
  border-radius: 14px;
  display: block;
}


.category {
  width: 100%;
  box-shadow: none;
  border-radius: 14px;
}


ion-card-content {
  .img-wrapper {
    border-radius: 14px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  ion-icon {
    color: #f2994a;
    padding-right: 4px;
  }

  ion-card-subtitle:last-of-type {
    padding-top:6px;
  }

}

// ion-card-header {
//   ion-icon {
//     font-size: 60px;
//   }

//   ion-card-title {
//     font-size: 22px;
//     font-weight: bolder;
//   }
// }

.wrapper {
  padding-bottom: 0;
}

ion-badge {
  padding: 10px;
  font-size: 14px;
}
