<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label text-wrap>
      <h3>Total</h3>
      <h3>RD${{total}}</h3>
      <ion-button color="warning" (click)="procederPago('destacados')"  style="width: 100%;" >  Proceder Pedido  </ion-button>

    </ion-label>



  </ion-item>
</ion-header>


<ion-content  [scrollEvents]="true"
(ionScrollStart)="logScrollStart($event)"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd($event)">




  <ion-list>

    <ion-item-sliding button *ngFor="let item of results"  >
      <ion-item slot="top">
      <ion-avatar slot="start">
        <img [src]="item.url" *ngIf="item.url != 'N/A'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.nombre }}</h3>
        <h4>{{ item.marca }}</h4>
        <h4>{{ item.unidad }} - RD${{ item.precio }}</h4>
        <ion-toolbar >
          <ion-button  slot="end" color="light" (click)="detailsProduct(item.codigo)" >Editar</ion-button>
        <ion-button slot="end" color="light"   >Eliminar</ion-button>
        </ion-toolbar>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
      <ion-item-options slot="end">
        <ion-button color="warning" style="height: auto;" (click)="detailsProduct(item.codigo)" >Editar</ion-button>
        <ion-button color="danger" style="height: auto;" >Eliminar</ion-button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
<!-- <ion-tabs>

  <ion-tab-bar  slot="bottom" >
      <ion-tab-button layout="icon-start" >
        <ion-title>Total: RD${{total}}</ion-title>
        </ion-tab-button>






    <ion-tab-button layout="icon-end" >
      <ion-button color="warning" >  Proceder Pedido  </ion-button>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> -->
